@import "tailwindcss";

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply text-green-50  text-base min-h-dvh h-full;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@layer base {
  main {
    @apply bg-linear-to-b from-neutral-950 via-black to-neutral-900 min-h-dvh h-full;
  }
  table {
    @apply border-collapse border w-full min-[598px]:max-w-72 md:absolute md:top-60 md:right-12;
  }
  thead {
    @apply bg-emerald-800/30;
  }
  tbody tr:nth-child(odd) {
    @apply bg-neutral-800/30;
  }
  th,
  td {
    @apply py-2 px-4 text-center first-of-type:sm:text-left;
  }
  strong {
    @apply text-emerald-400;
  }
}

@layer components {
  .main-container {
    @apply flex flex-col justify-center px-4 sm:px-8 py-8 max-w-4xl mx-auto gap-12;
  }
  .bg-backdrop {
    @apply bg-neutral-900 backdrop-blur-lg border border-neutral-800;
  }
  .ingredient-list > li {
    @apply text-lg capitalize bg-neutral-900 backdrop-blur-lg border border-neutral-800 rounded-2xl p-4;
  }
  .primary-btn {
    @apply bg-emerald-600 text-black font-semibold text-lg w-full h-full min-w-50 p-3 rounded-xl cursor-pointer hover:bg-emerald-800 active:bg-emerald-800 transition-colors duration-300;
  }
  .generated-recipe > h1 {
    @apply text-3xl sm:text-4xl font-bold mb-4;
  }
  .generated-recipe > h2 {
    @apply text-2xl sm:text-3xl font-bold mt-6;
  }
  .generated-recipe > h3 {
    @apply text-xl sm:text-2xl font-bold mt-6;
  }
  .generated-recipe > p {
    @apply text-gray-200;
  }
  .generated-recipe > ul {
    @apply list-disc leading-8 text-gray-200 ml-4 sm:ml-8;
  }
  .generated-recipe > ol {
    @apply list-decimal  leading-8 text-gray-200 ml-4 sm:ml-8;
  }
  .generated-recipe > ol > li {
    @apply my-4 first-of-type:mt-0 last-of-type:mb-0;
  }
}
