@import "tailwindcss";

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  @apply bg-linear-to-b from-neutral-950 via-black to-neutral-900 text-base min-h-screen;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@layer base {
  main {
    @apply flex flex-col  justify-center px-4 sm:px-8 py-8 max-w-4xl mx-auto;
  }
}

@layer components {
  .bg-backdrop {
    @apply bg-neutral-900 backdrop-blur-lg border border-neutral-800;
  }
  .ingredient-list > li {
    @apply text-lg capitalize bg-neutral-900 backdrop-blur-lg border border-neutral-800 rounded-2xl p-4;
  }
  .primary-btn {
    @apply bg-emerald-600 text-black font-semibold text-lg w-full h-full sm:max-w-40  p-3 rounded-xl cursor-pointer hover:bg-emerald-800 active::bg-emerald-800 transition-colors duration-300;
  }
}


