@import "tailwindcss";

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  @apply bg-linear-to-b from-neutral-950 via-black to-neutral-900 text-base min-h-screen;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}



/* @layer base {
  html{
    scroll-behavior: smooth;
  }
} */

